.popular {
    padding: 90px 0;
    &__title {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #0F303F;
        margin-bottom: 75px;
    }
    &__blocks {
        display: flex;
        justify-content: space-evenly;
        &-banner {
            text-align: center;
            align-items: center;
            position: relative;
        }
        &-title {
            margin-top: 29px;
            font-family:'Jost', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;
            color: #254A5A;
        }
        &-content {
            font-family:'Jost', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            text-transform: capitalize;
            color: #254A5A;
            margin-bottom: 5px;
        }
        &-minus {
            text-decoration: line-through;
            font-family:'Jost', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.045em;
            text-transform: uppercase;
            color: #CECECE;
        }
        &-plus {
            font-family:'Jost', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.045em;
            text-transform: uppercase;
            color: #FD5454;
        }
    }
    &__price {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 5px;
    }
    &__left {
        position: absolute;
        top: 135px;
        left: -56px;
    }
    &__right {
        position: absolute;
        top: 135px;
        right: -56px;
    }
}

.bottom {
    position: relative;
    &__line {
        position: absolute;
        top: 79px;
        height: 2px;
        width: 100%;
        background-color: #EAE9E8;
        z-index: 1;
    }
    &__wrap {
        text-align: center;
        position: absolute;
        left: 44%;
        top: 71px;
        height: 24px;
        width: 161px;
        z-index: 2;
        background-color: #fff;
    }
    &__logo {
        background: #fff;
    }
}