@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Cormorant', serif;
}

.container {
    max-width: 1374px;
    margin: 0 auto;
    padding: 0 20px;

}

.container-small {
    max-width: 1137px;
    margin: 0 auto;
    padding: 0 20px
    ;
}

@import 'header';
@import 'brand';
@import 'arrival';
@import 'popular';
@import 'about';
@import 'footer';